.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex: 0 0 30%; 
    margin: 10px;
    text-align: center; 
}

.team-photo {
    width: 200px; 
    height: 200px;
    border-radius: 50%; /* Circular images */
    margin-bottom: 10px;
    object-fit: cover;
}
.member-info {
    padding: 10px;
}
.member-name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}
a.member-name:hover {
    color: #0056b3;
}

.member-role {
    font-size: 14px;
    color: #666;
    font-style: italic;
}
.contact-link {
    color: #0056b3; 
    text-decoration: none;
}