.team-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.team-member {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex: 0 0 30%; 
    margin: 10px;
    text-align: center; 
}

.team-photo {
    width: 200px; 
    height: 200px;
    border-radius: 50%; /* Circular images */
    margin-bottom: 10px;
    object-fit: cover;
}
.member-info {
    padding: 10px;
}
.member-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary)
    /* color: #333; */
}
a.member-name:hover {
    color: #0056b3;
}

.member-role {
    font-size: 14px;
    color: var(--secondary);
    /* color: #666; */
    font-style: italic;
}
.contact-link {
    color: #0056b3; 
    text-decoration: none;
}

.cv-link {
    font-size: 12px;
    /* border: 1px solid #0056b3; */
    text-decoration: underline; /* Removes underline from links */
    color: #0056b3; /* White text color */
    /*background-color: #ffffff; /* Bootstrap primary blue */
    padding: 2px 4px; /* Padding inside the button */
    /*margin-right: 3px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    display: inline-block; /* Makes link behave like a button */
}