.works {
    /*background: #ffffff; /* White background for each paper block */
    padding: 15px;
    margin-bottom: 10px; /* Space between each paper block */
    /*box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/ /* Subtle shadow for 3D effect */
}

.name {
    font-size: 18px; /* Larger font size for the paper title */
    font-weight: bold;
    color: #333; /* Dark grey color for text */
}
.name a:hover {
    color: #0056b3;
}


.publicInfo{
    font-size: 14px; /* Smaller font size for preprint and authors */
    color: #525252; /* Medium grey color for text */
}

.authors {
    font-size: 14px; /* Smaller font size for preprint and authors */
    color: #666; /* Medium grey color for text */
}

.pdfUrl, .citeBtn {
    font-size: 14px;
    border: 1px solid #0056b3;
    text-decoration: none; /* Removes underline from links */
    color: #0056b3; /* White text color */
    /*background-color: #ffffff; /* Bootstrap primary blue */
    padding: 2px 4px; /* Padding inside the button */
    margin-right: 3px; /* Space between buttons */
    border-radius: 5px; /* Rounded corners for buttons */
    display: inline-block; /* Makes link behave like a button */
}

.pdfUrl:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #ffffff;
}

.citeBtn:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: #ffffff;
}


/* Style for the modal background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    width: 40%; 
    text-indent: 0px;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.citationText {
    /*overflow: auto; /* Enable scroll if needed */
    display: block;
    overflow-x: auto;
    padding: .5em;
    color: #333;
    background: #f8f8f8;
    font-size: 15px;
    font-family: "", monospace;
    word-break: normal;
}


