.research-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
}
.research-project {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    flex: 0 0 30%; 
    margin: 10px;
    text-align: center; 
    /*border: 1px solid black;*/
}

.project-image {
    width: 100%; 
    height: auto;
    /*border-radius: 50%; /* Circular images */
    margin-bottom: 10px;
    object-fit: cover;
}
.project-info {
    padding: 10px;
}
.project-name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary);
}
.project-descript {
    font-size: 14px;
    color: var(--secondary);
    font-style: italic;
}