{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{ partial "social_icons.html" (dict "align" site.Params.homeInfoParams.AlignSocialIconsTo) }}
    </footer>
</article>
{{- end -}}


<div id="news">
    <h2>News</h2>
    <br>
    {{ range .Site.Data.news }}
    <ul class="news-item">
        <li>
            <strong>[{{ .date }}]</strong>
            {{ if .newsUrl }}
            <a href={{ .newsUrl }} class="news-link">{{ .name }}</a>
            {{ else }}
            <p class="news-text">{{ .name }}</p>
            {{ end }}
        </li>
    </ul>

    {{end}}
</div>
    
    